
/*********************************************
 * customization/ad-hoc classes
 *********************************************/
 .reveal .header {
    color:rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    margin: -16px;

    &.light {
        color: rgba(0, 0, 0, 0.8) !important;
        background-color: rgba(255, 255, 255, 0.8);
    }
}
.reveal .credit {
    position: fixed;
    top: 700px;
    padding: 4px 8px 4px 24px;
    margin: -16px;
    font-size: 0.5rem; 
    color: rgba(255, 255, 255, 0.5);
}
.reveal .foot {
    position: absolute;
    top: 600px;
    padding: 4px 8px 4px 24px;
    margin: -16px;
    font-size: 1rem;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    ul {
        // list-style-type: square !important;
        list-style-type: none;
        margin-left: 0 !important;
    }
    ul li::before {
        content: "\25A0";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: rgb(62, 106, 225); /* Change the color */
        // font-size: em;
        font-family: Arial, sans-serif;
        font-weight: 700; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1.5em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        position: absolute;
        margin-top: -2px;
      }
    .sticker {
        font-size: 0.5rem;
        line-height: 150%;
        color:rgba(255, 255, 255, 0.8);
        // text-shadow: 0px 2px 0px black;
        text-shadow: 0px 2px 0px black;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2px 6px 2px 16px;
    }
    &.light {
        .sticker {
            color: rgba(0, 0, 0, 0.8);
            text-shadow: none;
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}


// fixed positioned photo gallery. img needs to be wrapped inside a div with .collage class
.reveal .collage {
    position: absolute;
}

// source: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
.reveal .photo-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    margin-top: -32px;
    width: 93%;
    grid-gap: 0px;
}

/* Create two equal columns that sits next to each other */
.reveal .photo-grid .column {
    flex: 50%;
    max-width: 50%;
    padding: 0px;
}
  
.reveal .photo-grid .column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}